<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/main.css">
    <title>Dough</title>
</head>
<body>
<header>
    <table>
        <tr>
            <td><a th:href="@{/}">Home</a></td>
            <td><a th:href="@{/recurringScheduleEdit}">Create Recurring Schedule</a></td>
            <td>
                <small>Version</small>
                <small th:text="#{application.version}"></small>
            </td>
        </tr>
    </table>
</header>
<main>
    <h1>Recurring Schedules</h1>
    <div>
        <ul class="success-message" th:if="${successMessage}">
            <li th:text="${successMessage}"></li>
        </ul>
        <ul class="error-message" th:if="${errorMessage}">
            <li th:text="${errorMessage}"></li>
        </ul>
    </div>

    <form id="listForm" action="#" method="get" th:action="@{/recurringScheduleList}">
        <input type="hidden" class="pageNumber" name="pageNumber" th:value="${listForm.number}"/>
        <input type="hidden" class="pageSize" name="pageSize" th:value="${listForm.size}"/>
        <input type="hidden" class="sortColumn" name="sortColumn" th:value="${listForm.sortColumn}"/>
        <input type="hidden" class="sortDirection" name="sortDirection" th:value="${listForm.sortDirection}"/>
        <input type="hidden" class="currentPage" th:value="${listForm.number}"/>
        <input type="hidden" class="totalPages" th:value="${listForm.totalPages}"/>

        <span th:if="${listForm.hasPrevious()}">
            <a class="goToFirstPage" data-list-form="listForm" href="#">&lt;&lt;</a>
            &nbsp;
            <a class="goToPreviousPage" data-list-form="listForm" href="#">&lt;</a>
            &nbsp;
        </span>

        page <span th:text="${listForm.number}+1"></span> of <span th:text="${listForm.totalPages}"></span>

        <span th:if="${listForm.hasNext()}">
            &nbsp;
            <a class="goToNextPage" data-list-form="listForm" href="#">&gt;</a>
            &nbsp;
            <a class="goToLastPage" data-list-form="listForm" href="#">&gt;&gt;</a>
        </span>

        &nbsp;&nbsp;&nbsp;
        page size
        <select class="changePageSize" data-list-form="listForm">
            <option value="5" th:selected="${listForm.size}==5">5</option>
            <option value="10" th:selected="${listForm.size}==10">10</option>
            <option value="20" th:selected="${listForm.size}==20">20</option>
            <option value="50" th:selected="${listForm.size}==50">50</option>
        </select>

        <table>
            <tr>
                <th>
                    <a class="changeSort" data-list-form="listForm" data-sort-column="cronString" href="#">
                        Cron String
                        <span th:if="${listForm.sortColumn=='cronString'}">
                            <span th:if="${listForm.ascending}">&and;</span>
                            <span th:if="${listForm.descending}">&or;</span>
                        </span>
                    </a>
                </th>
                <th>
                    <a class="changeSort" data-list-form="listForm" data-sort-column="estimatedAmount" href="#">
                        Estimated Amount
                        <span th:if="${listForm.sortColumn=='estimatedAmount'}">
                            <span th:if="${listForm.ascending}">&and;</span>
                            <span th:if="${listForm.descending}">&or;</span>
                        </span>
                    </a>
                </th>
                <th>
                    <a class="changeSort" data-list-form="listForm" data-sort-column="comment" href="#">
                        Comment
                        <span th:if="${listForm.sortColumn=='comment'}">
                            <span th:if="${listForm.ascending}">&and;</span>
                            <span th:if="${listForm.descending}">&or;</span>
                        </span>
                    </a>
                </th>
                <th>
                    <a class="changeSort" data-list-form="listForm" data-sort-column="tentativeAccount" href="#">
                        Tentative Account
                        <span th:if="${listForm.sortColumn=='tentativeAccount'}">
                            <span th:if="${listForm.ascending}">&and;</span>
                            <span th:if="${listForm.descending}">&or;</span>
                        </span>
                    </a>
                </th>
                <th>
                    <a class="changeSort" data-list-form="listForm" data-sort-column="tentativeCategory" href="#">
                        Tentative Category
                        <span th:if="${listForm.sortColumn=='tentativeCategory'}">
                            <span th:if="${listForm.ascending}">&and;</span>
                            <span th:if="${listForm.descending}">&or;</span>
                        </span>
                    </a>
                </th>
            </tr>
            <tr th:each="row:${listForm.rows}">
                <td><a th:href="@{/recurringSchedule(id=${row.id})}" th:text="${row.cronString}"></a></td>
                <td th:text="${#numbers.formatCurrency(row.estimatedAmount)}"></td>
                <td th:text="${row.comment}"></td>
                <td th:text="${row.tentativeAccount}"></td>
                <td th:text="${row.tentativeCategory}"></td>
            </tr>
        </table>
    </form>
</main>
<footer>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/common.js"></script>
</footer>
</body>
</html>
